nav {
    background: rgba(255, 0, 0, 0.15);
}

nav ul {
    background: rgba(255, 0, 0, 0.2);
}

main {
    background: rgba(255, 166, 0, 0.15);
}

main > section {
    background: rgba(255, 166, 0, 0.2);
}

main header {
    background: rgba(255, 166, 0, 0.3);
}

main form {
    background: rgba(255, 166, 0, 0.4);
}

main > section > section {
    background: rgba(255, 166, 0, 0.5);
}

.aboutUs {
    background: rgba(255, 255, 0, 0.1);
}

.aboutUs > section {
    background: rgba(255, 255, 0, 0.2);
}

.aboutUs header{
    background: rgba(255, 255, 0, 0.3);
}

.aboutUs p {
    background: rgba(255, 255, 0, 0.4);
}

.aboutUs div {
    background: rgba(255, 255, 0, 0.5);
}

.orderOnline {
    background: rgba(0, 128, 0, 0.1);
}

.orderOnline header {
    background: rgba(0, 128, 0, 0.2);
}

.orderOnline ul {
    background: rgba(0, 128, 0, 0.3);
}

.orderOnline section.gallery {
    background: rgba(0, 128, 0, 0.4);
}

.bookTable {
    background: rgba(0, 0, 255, 0.15);
}

.bookTable header {
    background: rgba(0, 0, 255, 0.2);
}

.bookTable section {
    background: rgba(0, 0, 255, 0.3);
}

.testimonials {
    background: rgba(76, 0, 130, 0.16);
}

.testimonials header{
    background: rgba(76, 0, 130, 0.2);
}

.testimonials section {
    background: rgba(76, 0, 130, 0.3);
}

.testimonials p {
    background: rgba(76, 0, 130, 0.4);
}